.activity {
  background: rgba(251, 251, 251, 1);
  width: 565px;
  margin-bottom: 4%;
  padding: 0% 5%;
  border-radius: 5px;
}
.activity h4 {
  text-align: start;
}
ul .recharts-surface {
  margin-right: 7px;
}
.tooltip {
  width: 140%;
  padding: 2%;
  padding-left: 20%;
  background-color: red;
  color: white;
  align-items: center;
}
.recharts-legend-wrapper {
  margin-top: -6%;
  margin-right: 5%;
  font-size: 10px;
}
.recharts-text.recharts-cartesian-axis-tick-value tspan {
  fill: #9b9eac;
  font-size: 10px;
}
