.activity {
  background: rgba(251, 251, 251, 1);
  width: 516px;
  margin-bottom: 8%;
  padding: 0% 5%;
}
.activity h4 {
  text-align: start;
}
.tooltip {
  width: 140%;
  padding: 2%;
  padding-left: 20%;
  background-color: red;
  color: white;
  align-items: center;
}
.recharts-legend-wrapper {
  margin-top: -9%;
}
.recharts-text.recharts-cartesian-axis-tick-value tspan {
  fill: #9b9eac;
}
