#duration tspan {
  fill: #ffffff;
  font-size: 9px;
}
.tooltipDuration {
  width: 100%;
  font-size: 8px;
  height: fit-content;
  padding: 1% 20%;
  background-color: white;
  color: black;
  align-items: center;
}
