#duration tspan {
  fill: #ffffffb9;
  font-size: 11px;
}
.duration {
  overflow: hidden;
  width: 226px;
}
#lineChart {
  width: 215px;
}
.tooltipDuration {
  width: 100%;
  font-size: 8px;
  height: fit-content;
  padding: 1% 20%;
  background-color: white;
  color: black;
  align-items: center;
}
.linechart__title {
  position: absolute;
  padding-left: 2%;
  font-size: 13px;
  z-index: 1;
  color: #ffffff94;
  width: 135px;
}
