* {
  font-family: 'Roboto', sans-serif;
}
.main {
  margin-left: 83px;
  padding: 1% 6%;
}
.lilChart {
  display: flex;
  align-items: stretch;
  gap: 2%;
  font-size: 10px;
}
.sectionDown {
  display: flex;
  gap: 5%;
  margin-top: 8%;
}
.Charts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.recharts-wrapper {
  border-radius: 5px;
}
