.NutrimentsZone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Nutriments {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
  padding: 20% 20%;
  width: 128px;
  gap: 10%;
  border-radius: 5px;
}
.Nutriments img {
  width: 42px;
  height: 42px;
}
.Nutriments span {
  font-weight: 700;
}
.Nutriments p {
  color: #74798c;
  margin: 0%;
}
